:root {
    --color-chudao: #faa935;
    --color-text: #fff;
    --subtitle-font-name: 'Island Moments', cursive;
}
.wrap_addTour{
    position: relative;
    background-color: #faa935;
    z-index: 999999;
    top: -200px;
    bo

}
.btn_them > span {
    color: var(--color-text);
}
.btn_them {
    border: var(--color-chudao);
    background-color: var(--color-chudao);
    padding: 20px;
}
