:root {
    --color-chudao: #faa935;
    --color-text: #fff;
    --subtitle-font-name: "Island Moments",cursive;
}

.title_top_content{
    background-color: var(--color-chudao);
    border-radius: 20px;
    padding: 10px 20px;
    font-family: var(--subtitle-font-name);
}
.img_earth{
    width: 36px;
    height: 36px;
}
.title_higtlight{
    color: var(--color-chudao);
}

.img1{
    height: 350px;
    img{
        height: 100%;
        object-fit: cover;
        border-radius: ;
    }
}