.wrap_background{
    height: 300px;
}
.background{
    background-image: url('../../assets/images/background.png');
    height: 10;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}