:root {
    --color-chudao: #faa935;
    --color-text: #fff;
    --subtitle-font-name: "Island Moments",cursive;
}
.bg-login{
    background-color: var(--color-chudao);
    position: relative;
}
.avatar_login{
    position: relative;
    top: -40px
    bott
}